<% content_for :meta do %>
  <title>Bókatíðindi - Prentútgáfa</title>
<% end %>

<main role="main" aria-label="Bækur" class="page">

  <div class="container-xl">

    <article class="row">
      <div class="col-12 px-5 pb-3 pt-5 pb-xl-3">
        <h1>Prentútgáfa Bókatíðinda</h1>
      </div>

      <div class="col-12 page-container px-5 py-xl-5">
        <p>
          Hér má finna prentútgáfu Bókatíðinda í gegn um árin á PDF-formi.
        </p>
        <p>
          Félag íslenskra bókaútgefenda hefur reynt að safna öllum árgöngum
          ritsins og tekur fagnandi á móti öllum eldri Bókaskrám eða
          Bókatíðindum sem gefin voru út fram til ársins 1986.
        </p>
        <p>
          Unnið er að því að koma eldri árgöngum hingað inn.
        </p>
      </div>
    </article>

    <div class="row mx-2 pb-5" role="list">
      <% @editions.each do |edition| %>
        <div class="col-6 col-md-4 col-lg-3 mb-2" role="listitem">
        <a href="<%= edition.pdf_file_url %>" target="_blank" title="Skoða <%= edition.title %> í prentútgáfu" class="older-edition d-flex flex-column justify-content-end h-100 p-2 m-1">
          <h2 class="title order-2 mt-2"><%= edition.title %></h2>
          <% if edition.cover_image.attached? %>
          <aside class="order-1">
            <img
              class="w-100 img-fluid"
              src="<%= edition.cover_image_url %>"
              srcset="<%= edition.cover_image_srcsets[@image_format] %>"
              sizes="260px"
              alt="Forsíðan fyrir <%= edition.title %>"
              height="<%= edition.cover_image.metadata[:height] %>"
              width="<%= edition.cover_image.metadata[:width] %>"
            />
          </aside>
          <% end %>
        </a>
        </div>
      <% end %>
    </div>

  </div>

</main>