<div class="logo-list" role="list">
    <div class="figure d-inline-block" role="list-item">
      <a
        href="https://www.boksala.is/"
        target="_blank"
        rel="external"
        title="Heimsækja vefverslun Bóksölu stúdenta"
      >
        <img
          alt="Bóksala stúdenta"
          class="img-fluid"
          src="<%= asset_url('boksala-square.svg') %>"
          height="512"
          width="512"
        >
      </a>
    </div>
    <div class="figure d-inline-block" role="list-item">
      <a
        href="https://www.forlagid.is/"
        target="_blank"
        rel="external"
        title="Heimsækja vefverslun Forlagsins"
      >
        <img
          alt="Forlagið"
          class="img-fluid"
          src="<%= asset_url('forlagid-square.svg') %>"
          height="512"
          width="512"
        >
      </a>
    </div>
    <div class="figure d-inline-block" role="list-item">
      <a
        href="https://www.penninn.is/"
        target="_blank"
        rel="external"
        title="Heimsækja vefverslun Pennans-Eymundsson"
      >
        <img
          alt="Pennin-Eymundsson"
          class="img-fluid"
          src="<%= asset_url('penninn-eymundsson-square.svg') %>"
          height="512"
          width="512"
        >
      </a>
    </div>
    <div class="figure d-inline-block" role="list-item">
      <a
        href="https://www.salka.is/"
        target="_blank"
        rel="external"
        title="Heimsækja vefverslun Sölku útgáfu"
      >
        <img
          alt="Salka"
          class="img-fluid"
          src="<%= asset_url('salka-square.svg') %>"
          height="512"
          width="512"
        >
      </a>
    </div>
    <div class="figure d-inline-block" role="list-item">
      <a
        href="https://www.storytel.com/is/is/"
        target="_blank"
        rel="external"
        title="Heimsækja vefverslun Storytel"
      >
        <img
          alt="Storytel"
          class="img-fluid"
          src="<%= asset_url('storytel-square.svg') %>"
          height="512"
          width="512"
        >
      </a>
    </div>
</div>
