<% content_for :meta do %>
  <%= preload_link_tag 'https://cdn.bokatidindi.is/images/boksala-square.svg', as: 'image' %>
  <%= preload_link_tag 'https://cdn.bokatidindi.is/images/forlagid-square.svg', as: 'image' %>
  <%= preload_link_tag 'https://cdn.bokatidindi.is/images/penninn-eymundsson-square.svg', as: 'image' %>
  <%= preload_link_tag 'https://cdn.bokatidindi.is/images/salka-square.svg', as: 'image' %>
  <%= preload_link_tag 'https://cdn.bokatidindi.is/images/storytel-square.svg', as: 'image' %>

  <title>Bókatíðindi - Helstu bækur ársins á einum stað</title>

  <%= tag 'meta', name: 'description', content: @meta_description %>
  <%= tag 'link', rel: 'canonical', href: 'https://www.bokatidindi.is/' %>

  <%= tag 'meta', property: 'og:type', content: 'website' %>
  <%= tag 'meta', property: 'og:image', content: asset_path('favicon.png') %>
  <%= tag 'meta', property: 'og:image:width', content: '512' %>
  <%= tag 'meta', property: 'og:image:height', content: '512' %>
  <%= tag 'meta', property: 'og:site_name', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:description', content: @meta_description %>
  <%= tag 'meta', property: 'og:url', content: 'https://www.bokatidindi.is/' %>
  <%= tag 'meta', property: 'og:locale', content: 'is_IS' %>
  <%= tag 'meta', property: 'fb:app_id', content: '286582403328194' %>

  <%= tag 'meta', name: 'twitter:card', content: 'summary' %>
  <%= tag 'meta', name: 'twitter:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', name: 'twitter:description', content: @meta_description %>

<% end %>

<main role="main">

  <div class="container-fluid">

    <div class="row mx-md-5" aria-label="Vöruflokkar">

      <div class="col-lg-6 col-xl-3 my-3">
        <div class="welcome-content p-4 my-2">
          <h2 class="py-2 mb-3">Barnabækur</h2>
          <ul class="list-unstyled">
            <% Category.where(source_id: category_groups[:barnabaekur] ).order('rod').each do |c| %>
            <li class="my-2">
              <%= link_to c.name, category_path(c.slug) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div> 

      <div class="col-lg-6 col-xl-3 my-3">
        <div class="welcome-content p-4 my-2">
          <h2 class="py-2 mb-3">Skáldverk</h2>
          <ul class="list-unstyled">
            <% Category.where(source_id: category_groups[:skaldverk] ).order('rod').each do |c| %>
            <li class="my-2">
              <%= link_to c.name, category_path(c.slug) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      
      <div class="col-lg-6 col-xl-3 my-3">
        <div class="welcome-content p-4 my-2">
          <h2 class="py-2 mb-3">Fræðibækur</h2>
          <ul class="list-unstyled">
            <% Category.where(source_id: category_groups[:fraedibaekur] ).order('rod').each do |c| %>
            <li class="my-2">
              <%= link_to c.name, category_path(c.slug) %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    
      <div class="col-lg-6 col-xl-3 my-3">
        <div class="welcome-content p-4 my-2">
          <h2 class="py-2 mb-3">Ævisögur</h2>
          <ul class="list-unstyled">
            <% Category.where(source_id: category_groups[:aevisogur] ).order('rod').each do |c| %>
            <li class="my-2">
              <%= link_to c.name, category_path(c.slug) %>
            </li>
            <% end %>
          </div>
        </div>
      </div>

    <div class="row mx-md-5 mb-5">
      <div class="col-12">
        <div class="welcome-content p-4 pt-5 mt-2" aria-label="Um bókatíðindi">
          <p>
            Bókatíðindavefurinn er upplýsingasíða þar sem finna má hlekki við
            flesta titla sem vísa inn á sölusíður útgefanda. Hér má einnig finna
            brot úr bókum til lesturs eða hlustunar og ýmsar aðrar upplýsingar.
            Við bendum einnig á eftirfarandi vefverslanir sem selja fjölbreytt
            úrval íslenskra bóka:
          </p>
          <%= render 'shared/ecommerce_links' %>
        </div>
      </div>
    </div>
  </div>
</main>
