<% content_for :meta do %>
  <%= preload_link_tag asset_url('boksala-square.svg'), as: 'image' %>
  <%= preload_link_tag asset_url('forlagid-square.svg'), as: 'image' %>
  <%= preload_link_tag asset_url('penninn-eymundsson-square.svg'), as: 'image' %>
  <%= preload_link_tag asset_url('salka-square.svg'), as: 'image' %>
  <%= preload_link_tag asset_url('storytel-square.svg'), as: 'image' %>

  <title>Bókatíðindi - Helstu bækur ársins á einum stað - Jólabókaflóðið</title>

  <%= tag 'meta', name: 'description', content: @meta_description %>
  <%= tag 'link', rel: 'canonical', href: 'https://www.bokatidindi.is/' %>

  <%= tag 'meta', property: 'og:type', content: 'website' %>
  <%= tag 'meta', property: 'og:image', content: asset_path('favicon.png') %>
  <%= tag 'meta', property: 'og:image:width', content: '512' %>
  <%= tag 'meta', property: 'og:image:height', content: '512' %>
  <%= tag 'meta', property: 'og:site_name', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:description', content: @meta_description %>
  <%= tag 'meta', property: 'og:url', content: 'https://www.bokatidindi.is/' %>
  <%= tag 'meta', property: 'og:locale', content: 'is_IS' %>
  <%= tag 'meta', property: 'fb:app_id', content: '286582403328194' %>

  <%= tag 'meta', name: 'twitter:card', content: 'summary' %>
  <%= tag 'meta', name: 'twitter:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', name: 'twitter:description', content: @meta_description %>

<% end %>

<main role="main">

  <div class="mb-5">
    <div class="welcome-content py-5 px-md-0">
      <div class="container-lg">
        <div class="row mx-4">
          <div class="hero-heading-column d-flex flex-column justify-content-xl-end col-12 col-lg-5 col-xl-5 mb-4 mb-lg-0">
            <h1 class="hero-heading">Flestar bækur miðað við höfða&shy;tölu</h1>
          </div>
          <div class="hero-body-column d-flex flex-column justify-content-xl-end col-12 col-sm-8 col-lg-4 col-xl-<%= @welcome_textbox_cols %>">
            <p>
              Bókatíðindi hafa síðan 1928 veitt yfirlit yfir útgáfu ársins fyrir
              bókaunnendur. Þar má alltaf nálgast upplýsingar um þær bækur sem gefnar
              eru út á hverju ári.
            </p>
            <p>
              Frá upphafi hafa bókatíðindi verið prentuð í
              takmörkuðu upplagi og dreift til lesenda fyrir jólin en núna eru þau
              aðgengileg allan ársins hring, hvenær sem bókaorma langar að kynna sér
              hvað er nýtt og spennandi að lesa.
            </p>
            <nav class="hero-nav-links d-block d-lg-none">
              <ul class="list-unstyled">
                <li><a class="" href="<%= Edition.current_edition.pdf_file_url %>">Sækja PDF-útgáfu</a></li>
                <li><a class="" href="#">Um Bókatíðindi (eldri árgangar)</a></li>
              </ul>
            </nav>
          </div>
          <% unless Edition.current_edition.cover_image_url.empty? %>
          <nav class="hero-image-column d-flex flex-column justify-content-xl-end col-12 col-sm-4 col-lg-3" role="presentation">
            <img
              class="w-100"
              role="presentation"
              srcset="<%= Edition.current_edition.cover_image_srcsets[@image_format] %>"
              src="<%= Edition.current_edition.cover_image_url %>"
              sizes="( min-width: 576px ) 260px, (max-width: 576px ) 550px"
              alt="Forsíðan fyrir <%= Edition.current_edition.title %>"
            />
            <ul class="hero-nav-links list-unstyled d-none d-lg-block d-xl-none">
              <li><a href="<%= Edition.current_edition.pdf_file_url %>">Sækja PDF-útgáfu</a></li>
              <li><a href="#">Um Bókatíðindi</a></li>
            </ul>
          </nav>
          <nav class="col-3 d-none d-xl-block offset-9">
            <ul class="hero-nav-links list-unstyled">
              <li><a href="<%= Edition.current_edition.pdf_file_url %>">Sækja PDF-útgáfu</a></li>
              <li><a href="#">Um Bókatíðindi</a></li>
            </ul>
          </nav>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="welcome-current-edition" class="container-lg">

    <div class="row mx-4 mb-4" aria-labelledby="current-edition-categories-heading">

      <div class="col-12">
        <h2 id="current-edition-categories-heading">Nýjasta tölublað</h2>
      </div>

    </div>

    <div class="row mx-4">

      <% Category.groups.each do |category_group| %>
      <div class="category-group col-md-4 py-0 px-3 pb-5">
          <h3
            class="mb-3"
          >
            <%= I18n.t("activerecord.attributes.category.groups.#{category_group[0]}") %>
          </h3>
          <ul class="list-unstyled welcome-category-list">
            <%
            Category.where(group: category_group[1]).order('rod').each do |c|
            next if c.book_count_web.zero?
            %>
            <li class="">
              <%= link_to c.name, category_path(c.slug), class: 'd-block' %>
            </li>
            <% end %>
          </ul>
      </div>
      <% end %>

    </div>

  </div>

  <footer aria-labelledby="sponsor-blurp">
    <div class="welcome-content p-4 pt-5">
      <p class="text-center" id="sponsor-blurp">
        Við bendum á eftirfarandi vefverslanir sem selja fjölbreytt úrval íslenskra bóka:
      </p>
      <%= render 'shared/ecommerce_links' %>
    </div>
  </footer>

</main>
