<% content_for :meta do %>
  <title>Bókatíðindi - Helstu bækur ársins á einum stað - Jólabókaflóðið</title>

  <%= tag 'meta', name: 'description', content: WelcomeController::META_DESCRIPTION %>
  <%= tag 'link', rel: 'canonical', href: 'https://www.bokatidindi.is/' %>

  <%= tag 'meta', property: 'og:type', content: 'website' %>
  <%= tag 'meta', property: 'og:image', content: asset_url('favicon-512.png') %>
  <%= tag 'meta', property: 'og:image:width', content: '512' %>
  <%= tag 'meta', property: 'og:image:height', content: '512' %>
  <%= tag 'meta', property: 'og:site_name', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:description', content: WelcomeController::META_DESCRIPTION %>
  <%= tag 'meta', property: 'og:url', content: 'https://www.bokatidindi.is/' %>
  <%= tag 'meta', property: 'og:locale', content: 'is_IS' %>
  <%= tag 'meta', property: 'fb:app_id', content: '286582403328194' %>

  <%= tag 'meta', name: 'twitter:card', content: 'summary' %>
  <%= tag 'meta', name: 'twitter:title', content: 'Bókatíðindi' %>
  <%= tag 'meta', name: 'twitter:description', content: WelcomeController::META_DESCRIPTION %>

  <script type="application/ld+json"><%= raw @website_ld_json.to_json %></script>
<% end %>

<main>
  <div class="mb-5">
    <div class="welcome-content py-5 px-md-0">
      <div class="container-lg">
        <div class="row mx-4">
          <div class="hero-heading-column d-flex flex-column justify-content-xl-end col-12 col-lg-5 col-xl-5 mb-4 mb-lg-0">
            <h1 class="hero-heading">
              <%= Shyguy.display_shy(@page_content.title) if @page_content %>
            </h1>
          </div>
          <div class="hero-body-column d-flex flex-column justify-content-xl-end col-12 col-sm-8 col-lg-4 col-xl-<%= @welcome_textbox_cols %>">
            <%= markdown(@page_content.body) if @page_content %>
            <a class="hero-nav-link d-none d-sm-inline-block d-lg-none" href="/argangar">Sækja prentútgáfu</a>
          </div>
          <% if @editions_with_cover.any? %>
          <nav class="hero-image-column d-flex flex-column justify-content-xl-end col-12 col-sm-4 col-lg-3">
            <a href="/argangar" title="Skoða prentútgáfu Bókatíðinda">
              <img
                width="<%= @editions_with_cover.first.cover_image.metadata['width'] %>"
                height="<%= @editions_with_cover.first.cover_image.metadata['height'] %>"
                class="img-fluid"
                srcset="<%= @editions_with_cover.first.cover_image_srcsets[@image_format] %>"
                src="<%= @editions_with_cover.first.cover_image_url %>"
                sizes="( min-width: 576px ) 260px, (max-width: 576px ) 442px"
                alt="Forsíðan fyrir <%= @editions_with_cover.first.title %>"
              />
              <span class="hero-nav-link list-unstyled d-none d-lg-inline d-xl-none" href="/argangar">Sækja prentútgáfu</span>
            </a>
          </nav>
          <nav class="col-12 col-xl-3 d-sm-none d-xl-block offset-xl-9 text-xl-right">
            <a class="hero-nav-link" href="/argangar">Sækja prentútgáfu</a>
          </nav>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="welcome-current-edition" class="container-lg">

    <div class="row mx-4 mb-4" aria-labelledby="current-edition-categories-heading">

      <div class="col-12">
        <h2 id="current-edition-categories-heading">Nýjasti árgangur</h2>
      </div>

    </div>

    <div class="row mx-4">

      <% Category.groups.each do |category_group| %>
      <div class="category-group col-md-4 py-0 px-3 pb-5">
          <h3
            class="mb-3"
          >
            <%= I18n.t("activerecord.attributes.category.groups.#{category_group[0]}") %>
          </h3>
          <ul class="list-unstyled welcome-category-list">
            <%
            Category.where(group: category_group[1]).order('rod').each do |c|
            next if c.book_count_web.zero?
            %>
            <li class="">
              <%= link_to c.name, category_path(c.slug), class: 'd-block' %>
            </li>
            <% end %>
          </ul>
      </div>
      <% end %>

    </div>

  </div>

  <footer aria-labelledby="sponsor-blurp">
    <div class="welcome-content p-4 pt-5">
      <p class="text-center" id="sponsor-blurp">
        Við bendum á eftirfarandi vefverslanir sem selja fjölbreytt úrval íslenskra bóka:
      </p>
      <%= render 'shared/ecommerce_links' %>
    </div>
  </footer>

</main>
