<% content_for :meta do %>
  <title>Bókatíðindi - Opin gögn</title>
<% end %>

<main class="page pb-5">

<div class="container-xl">

<div class="row">

  <div class="col-12 px-5 pb-3 pt-5 pb-xl-3">
    <h1><%= @page_content[:title] if @page_content %></h1>
  </div>

  <div class="col-12 page-container px-5 py-xl-5 mb-xl-5">
    <%= markdown(@page_content.body) if @page_content %>
  </div>
  <div class="col-12 page-container p-5 mb-5">
    <h2 class="mb-3">Vefslóðir</h2>
    <table class="table">
      <thead>
        <tr>
          <th span="tow">Árgangur</th>
          <th span="tow">Vefslóð</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Núverandi árgangur</td>
          <td><a title="Vefslóð á JSON-tendapunkt núverandi árgangs" href="<%= argangar_url %>/current.json"><%= argangar_url %>/current.json</a></td>
        </tr>
        <% Edition.all.each do |edition| %>
        <% next if edition.books.count.zero? %>
        <tr>
          <td><%= edition.title %></td>
          <td><a title="Vefslóð á JSON-endapunkt árgangsins" href="<%= argangar_url %>/<%= edition.id %>.json"><%= argangar_url %>/<%= edition.id %>.json</a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

</div>

</main>