<% content_for :meta do %>
  <title>Bókatíðindi - Um <%= @current_edition.title %></title>
<% end %>

<main role="main" class="page">

  <div class="container-md">

    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="pb-2">Um Bókatíðindi</h1>
        <p>
          Bókatíðindi komu fyrst út árið 1928 undir nafninu Bókaskrá
          Bóksalafélagsins. Það var Ársæll Árnason sem fyrstu tók saman þetta
          yfirlit yfir nýútkomnar bækur með stuttri lýsingu á efni þeirra.
        </p>
        <p>
          Meðal titla í þessari fyrstu útgáfu eru meðal annars Ævintýri og sögur
          H.C. Andersen, Skytturnar þrjár eftir Alexandre Dumas, Litla lávarðinn
          eftir Burnett, Nágrannar, þrjár sögur eftir Friðrik Ásmundsson
          Brekkan, Gráskinna I í útgáfu Sigurðar Nordal og Þórbergs Þórðarsonar,
          Passíusálmar Hallgríms Péturssonar, Vesalingarnir, 5. bindi eftir
          Victor Hugo, Á Skipalóni eftir Jón Sveinsson, Njáls saga þumalings
          eftir Selmu Lagerlöf, Dísa ljósálfur eftir G.T. Rotman og Smjörbítill
          og Gulltanni færð í letur af Ingunni Jónsdóttur með myndum Tryggva
          Magnússonar.
        </p>
        <p>
          Ritið hét svo ýmist Bókaskrá Bóksalafélags Íslands eða bara Bækur allt
          fram til ársins 1986 þegar það kom út undir nafninu Íslensk
          bókatíðindi. Það var svo ekki fyrr en með útgáfu ársins 1995 að látið
          var nægja að nefna blaðið Bókatíðindi, líkt og það hefur verið kallað,
          allar götur síðan ásamt ártali útáfuárs.
        </p>
        <p>
          Félag íslenskra bókaútgefenda hefur reynt að safna öllum útgáfunum
          ritsins og tekur fagnandi á móti öllum eldri Bókaskrám eða Bókatíðindi
          sem gefin voru út fram til ársins 1986.
        </p>
        <h2 class="pb-2 pt-5">Um <%= @current_edition.title %></h2>
        <table class="table table-sm">
          <tbody>
            <tr>
              <th class="py-2 pr-3 align-top text-right" scope="row">Útgefandi</th>
              <td class="py-2 align-top">
                Félag íslenskra bókaútgefenda<br>
                Barónsstíg 5<br>
                101 Reykjavík<br>
                Sími 511-8020<br>
                <a href="https://www.fibut.is/" target="_blank">www.fibut.is</a>
              </td>
            </tr>
            <tr>
              <th class="py-2 pr-3 align-top text-right" scope="row">Ábyrgðarmaður</th>
              <td class="py-2 align-top">Benedikt Kristjánsson</td>
            </tr>
          </tbody>
        </table>
        <p>Þeir sem vilja skrá nýja titla inn á vefinn eru beðnir um að hafa samband við félagið.</p>
      </div>
      <div class="col-6 col-lg-3 offset-lg-1">
        <% if @current_edition.pdf_file.attached? %>
          <figure class="figure">
          <% if @current_edition.cover_image.attached? %>
          <img
            src="<%= @current_edition.cover_image_url %>"
            <% if @current_edition&.cover_image_srcsets.is_a?(Hash) && @current_edition&.cover_image_srcsets.key?(@image_format) %>
            srcset="<%= @current_edition.cover_image_srcsets[@image_format] %>"
            <% end %>
            sizes="(min-resolution: 200dpi 550px), 260px"
            class="figure-img w-100 img-fluid"
          >
          <% end %>
          <figcaption class="figure-caption text-right">

          <a href="<%= @current_edition.pdf_file_url %>" class="btn btn-darkgrey pdf-download-link">
            Sækja PDF-útgáfu
          </a>
          </figcaption>
          </figure>
        <% end %>
      </div>
    </div>
  </div>
</main>