<ul
  class="book-authors d-block pl-0"
  aria-label="Höfundar"
>
  <%
  book_authors = local_assigns[:book].book_authors.sort_by(&:id)
  book_authors.each_with_index do |ba,i|
  next unless [1,2].include? ba.author_type_id
  %>
  <li
    id="book-<%= local_assigns[:book].id %>-authors--<%= ba.id %>"
    class="authors mb-1 d-block"
  >
    <a
      href="<%= author_path(ba.author.slug) %>"
      title="Skoða fleiri bækur eftir <%= ba.author.name %>"
    >
      <%= ba.name %>
    </a>
  </li>
  <% end %>
</ul>
