<section id="book-binding-types">
<h3 class="mb-3">Útgáfuform</h3>
<% local_assigns[:book].book_binding_types.each do |book_binding_type,i| %>
<section id="book-binding-type-<%= book_binding_type.id %>" class="book-binding-type">
  <h4 class="d-inline-block mr-2 mb-0">
    <%= book_binding_type.binding_type.corrected_name %>
  </h4>
    <% unless book_binding_type.availability == 'unknown' %>
    <p class="availability d-inline-block mb-0">
      <%= I18n.t "activerecord.attributes.book_binding_type.availabilities.#{book_binding_type.availability}" %>
    </p>
    <% end %>
    <ul class="list-unstyled d-block">
    <% if book_binding_type.page_count %>
    <li class="page_count d-inline-block mr-2">
      <%= book_binding_type.page_count %> bls.
    </li>
    <% end %>
    <% if book_binding_type.minutes %>
    <li class="hours d-inline-block mr-2">
      <%= book_binding_type.hours %> klst.
    </li>
    <% end %>
    <li class="isbn d-inline">
      ISBN <%= book_binding_type.barcode %>
    </li>
    <% unless book_binding_type.language == 'is' %>
    <li class="language d-block">
      Tungumál: <%= I18n.t "languages.#{book_binding_type.language}" %>
    </li>
    <% end %>
    <% if book_binding_type.url? %>
    <li class="url d-block mt-1">
      <a href="<%= book_binding_type.url %>">
        Skoða í vefverslun á <%= URI.parse(book_binding_type.url).host.delete_prefix('www.') %>
      </a>
    </li>
    <% end %>
    </ul>
  </section>
<% end %>
</section>