<ul
  id="book-meta-list-<%= local_assigns[:book].id %>"
  class="book-meta-list d-block pl-0"
  aria-label="Upplýsingar um bók"
>

  <% if action_name == 'show' %>
  <li
    class="book-meta-publisher d-block font-weight-bold pb-3"
    aria-labelledby="book-meta-publisher-label<%= local_assigns[:book].id %>"
  >
    <strong
      id="book-meta-publisher-label<%= local_assigns[:book].id %>"
    >Útgefandi</strong>
    <% if local_assigns[:book].publisher.book_count.positive? %>
      <%=
        link_to local_assigns[:book].publisher.name,
        publisher_path(local_assigns[:book].publisher.slug),
        title: "Skoða fleiri bækur frá útgefandanum #{local_assigns[:book].publisher.name}"
      %>
    <% else %>
      <%= local_assigns[:book].publisher.name %>
    <% end %>
  </li>
  <% unless local_assigns[:book].language_codes.count.zero? %>
  <li
    class="book-meta-languages d-block font-weight-bold pb-3"
    aria-labelledby="book-meta-languages-label"
  >
    <strong id="book-meta-languages-label">Tungumál</strong>
    <%= local_assigns[:book].language_names %>
  </li>
  <% end %>
  <% unless local_assigns[:book].original_title.nil? %>
  <li
    class="book-meta-original-title d-block font-weight-bold pb-3"
    aria-labelledby="book-meta-original-title-label"
  >
    <strong id="book-meta-original-title-label">Upprunalegur titill</strong>
    <%= local_assigns[:book].original_title %>
  </li>
  <% end %>
  <% else %>
    <li
    class="book-meta-publisher d-block font-weight-bold pb-3"
    aria-label="Útgefandi"
  >
    <%=
      link_to local_assigns[:book].publisher.name,
      publisher_path(local_assigns[:book].publisher.slug),
      title: "Skoða fleiri bækur frá útgefandanum #{local_assigns[:book].publisher.name}"
    %>
  </li>
  <% end %>

  <li
    class="book-meta-category d-block pb-3"
    aria-labelledby="book-meta-category-label<%= local_assigns[:book].id %>"
    aria-label="Vöruflokkar"
  >
    <%= raw local_assigns[:book].category_links %>
  </li>

</ul>
