<ul
  id="book-meta-list-<%= local_assigns[:book].id %>"
  class="book-meta-list d-block pl-0"
  aria-label="Upplýsingar um bók"
>

  <% if action_name == 'show' %>
  <li
    class="book-meta-publisher d-block font-weight-bold pb-1"
    aria-labelledby="book-meta-publisher-label<%= local_assigns[:book].id %>"
  >
    <strong
      id="book-meta-publisher-label<%= local_assigns[:book].id %>"
    >Útgefandi</strong>
    <%=
      link_to local_assigns[:book].publisher.name,
      publisher_path(local_assigns[:book].publisher.slug),
      title: "Skoða fleiri bækur frá útgefandanum #{local_assigns[:book].publisher.name}"
    %>
  </li>
  <% else %>
    <li
    class="book-meta-publisher d-block font-weight-bold pb-1"
    aria-label="Útgefandi"
  >
    <%=
      link_to local_assigns[:book].publisher.name,
      publisher_path(local_assigns[:book].publisher.slug),
      title: "Skoða fleiri bækur frá útgefandanum #{local_assigns[:book].publisher.name}"
    %>
  </li>
  <% end %>

  <li
    class="book-meta-category d-block pb-1"
    aria-labelledby="book-meta-category-label<%= local_assigns[:book].id %>"
    aria-label="<%= local_assigns[:book].categories_label %>"
  >
    <%= raw local_assigns[:book].category_links %>
  </li>

  <% if action_name == 'show' %>

  <% if local_assigns[:book].page_count %>
  <li
    class="book-meta-page-count d-block pb-1"
    aria-label="Blaðsíðutal"
  >
    <%= pluralize(local_assigns[:book].page_count, 'blaðsíða', plural: 'blaðsíður') %>
  </li>
  <% end %>

  <% if local_assigns[:book].hours %>
  <li
    class="book-meta-hours d-block pb-1"
    aria-labelledby="book-meta-hours-label<%= local_assigns[:book].id %>"
  >
    <strong
    id="book-meta-hours-label<%= local_assigns[:book].id %>"
    class="book-meta-hours-label"
    >
    Upplestrartími
    </strong>
    <%= local_assigns[:book].hours %>
    <abbr title="klukkustundir">klst.</abbr>
  </li>
  <% end %>
  <% end %>

  <li class="book-meta-hours d-block pb-1">
    <%= local_assigns[:book].binding_types.map(&:corrected_name).uniq.to_sentence.downcase.capitalize %>
  </li>
</ul>
