<div class="row">

  <% @books.each_with_index do |book,i| %>
  <article
    id="book-<%= book.id %>"
    class="book d-flex col-12 col-md-6 col-xl-4 px-0"
    aria-labelledby="book-<%= book.id %>-hgroup"
    role="region"
  >

    <div class="row book-column-container flex-column flex-lg-row m-2 p-2 pb-4">

      <div class="content-column flex-grow-1 col-lg-8 order-1">

        <a
          href="<%= book_path(book.slug) %>"
          title="Skoða upplýsingar um bókina <%= book.full_title_noshy %>"
        >
          <%= render 'books/hgroup_results', book: book %>
        </a>

        <%= render 'books/authors_brief', book: book %>

          <p
            aria-label="Lýsing"
            class="book-description"
          >
            <%= sanitize book.short_description, { tags: ['em'] } %>
          </p>

        <%= render 'books/meta', book: book %>

        <div class="more-button text-right mt-4">
          <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary", title: "Nánar um bókina #{book.title}" %>
        </div>

      </div>

      <aside
        class="mt-1 col-lg-4 order-0"
        role="presentation"
      >
        <a
          class="product-image-link d-block"
          href="<%= book_path(book.slug) %>"
          title="Skoða upplýsingar um bókina <%= book.full_title_noshy %>"
          tabindex="-1"
        >
          <div class="figure mt-4 w-100">
            <img
              class="w-100 img-fluid"
              alt="Bókakápa: <%= book.full_title_noshy %>"
              <% if book.cover_image.attached? %>
              src="<%= book.cover_image_url(@image_format, true) %>"
              height="<%= book.cover_image.metadata[:height] %>"
              width="<%= book.cover_image.metadata[:width] %>"
              <% unless book.cover_image_srcsets.blank? || ActiveStorage::Blob.service.name.to_s == 'local' %>
              srcset="<%= book.cover_image_srcsets[@image_format] %>"
              sizes="<%= @image_sizes %>"
              <% end %>
              <% else %>
              src="<%= asset_url('blank.svg') %>"
              height="594"
              width="420"
              alt="Mynd af bókakápu vantar"
              <% end %>
              <% if i >= 6 %>
              loading="lazy"
              <% else %>
              fetchpriority=high
              <% end %>
            >
          </div>
        </a>
      </aside>

    </div>

  </article>

  <% end %>

</div>