<div class="row">
  <div class="col-12 pb-2">
    <h1 id="results-heading">
      <% unless params[:publisher] || params[:category] || params[:author] || params[:search] %>
        Allar bækur
      <% end %>
      <% unless params[:author].nil? %>
        Höfundur: <%= @author.name %>
      <% end %>
      <% unless params[:publisher].nil? %>
        Útgefandi: <%= @publisher.name %>
      <% end %>
      <% unless params[:category].nil? %>
        <%= @category.name_with_group %>
      <% end %>
      <% unless params[:search].nil? %>
        Leitarorð: <%= params[:search] %>
      <% end %>
    </h1>
  </div>
  <div class="col-12 col-lg-6 pb-2">
    <% if (! params[:search] ) && @books.total_pages > 1 %>
      <% if params[:category] && @category %>
        <p class="category-description"><%= @category.description %></p>
      <% end %>
      <p class="page-counter">Síða <%= @books.current_page %> af <%= @books.total_pages %></p>
    <% end %>
  </div>
</div>