<div class="row">

  <% @books.each do |book| %>
  <section
    id="book-<%= book.id %>"
    class="book col-xl-4 col-md-6"
    aria-labelledby="book-<%= book.id %>-hgroup"
  >

    <div class="row book-column-container m-2 p-2 pb-4">

      <div
        class="col-sm-8 offset-sm-2 offset-md-0 col-md-12 col-xl-6 mt-2 px-5 px-xl-2 overflow-hidden"
        aria-hidden="true"
      >
        <a class="product-image-link" href="<%= book_path(book.slug) %>" tabindex="-1">
          <figure class="figure mt-4">
            <% if book.cover_image.attached? %>
            <img
              src="<%= book.cover_image_url %>"
              height="<%= book.cover_image.metadata[:height] %>"
              width="<%= book.cover_image.metadata[:width] %>"
              <% unless book.cover_image_srcsets.blank? %>
              srcset="<%= book.cover_image_srcsets[@image_format] %>"
              sizes="(min-resolution: 200dpi 550px), 260px"
              <% end %>
              class="img-fluid"
            >
            <% end %>
          </figure>
        </a>
      </div>

      <div class="content-column col-xl-6 pt-xl-3">

        <a href="<%= book_path(book.slug) %>">
        <%= render 'books/hgroup', book: book %>
        </a>

        <%= render 'books/authors_brief', book: book %>

          <p
            aria-label="Lýsing"
            class="book-description overflow-hidden"
          >
            <%= sanitize book.short_description, tags: ['em'] %>
          </p>

        <%= render 'books/meta', book: book %>

        <div class="more-button text-right mt-4">
          <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary" %>
        </div>

      </div>

    </div>

  </section>

<% end %>

</div>