<div class="row">

  <% @books.each_with_index  do |book,i| %>
  <section
    id="book-<%= book.id %>"
    class="book col-12 col-md-6 col-xl-4 px-0"
    aria-labelledby="book-<%= book.id %>-hgroup"
  >

    <div class="row book-column-container m-2 p-2 pb-4">

      <div class="content-column pt-md-3 col-lg-8 order-1">

        <a href="<%= book_path(book.slug) %>">
        <%= render 'books/hgroup', book: book %>
        </a>

        <%= render 'books/authors_brief', book: book %>

          <p
            aria-label="Lýsing"
            class="book-description overflow-hidden"
          >
            <%= sanitize book.short_description, tags: ['em'] %>
          </p>

        <%= render 'books/meta', book: book %>

        <div class="more-button text-right mt-4">
          <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary" %>
        </div>

      </div>

      <div
        class="mt-1 col-lg-4 overflow-hidden order-0"
      >
        <a class="product-image-link" href="<%= book_path(book.slug) %>" tabindex="-1">
          <figure class="figure mt-4 w-100">
            <img
              src="<%= book.cover_image_url %>"
              <% if book.cover_image.attached? %>
              height="<%= book.cover_image.metadata[:height] %>"
              width="<%= book.cover_image.metadata[:width] %>"
              <% end %>
              <% unless book.cover_image_srcsets.blank? %>
              srcset="<%= book.cover_image_srcsets[@image_format] %>"
              sizes="
                ( min-width: 576px ) 150px,
                (max-width: 576px ) 260px
              "
              <% end %>
              class="w-100 img-fluid"
              <% if i > 5 %>
              loading="lazy"
              <% end %>
              alt="Bókakápa: <%= book.full_title_noshy %>"
            >
          </figure>
        </a>
      </div>

    </div>

  </section>

<% end %>

</div>