<aside
  class="book-social-media-links pt-4 my-5 text-center justify-content-center align-items-center"
  aria-labelledby="book-social-media-links-heading"
  aria-description="Deila bókinni á samfélagsmiðlum"
>
  <h2
    id="book-social-media-links-heading"
    class="book-social-media-links-heading my-0 mr-3 mt-1 mb-4 mb-md-3 "
  >
    Deila bók
  </h2>
  <div
    class="d-flex justify-content-center"
  >
    <a
      href="https://www.facebook.com/sharer/sharer.php?u=<%= url_encode book_url(local_assigns[:book].slug) %>"
      title="Deila á Facebook"
      target="_blank"
      class="btn btn-lg mr-3"
    >
      <%= image_tag 'facebook.svg', alt: "Facebook", width: 24, height: 24, class: 'bi bi-facebook' %>
    </a>
    <a
      href="https://www.linkedin.com/sharing/share-offsite/?url=<%= url_encode book_url(local_assigns[:book].slug) %>"
      title="Deila á LinkedIn"
      target="_blank"
      class="btn btn-lg mr-3"
    >
      <%= image_tag 'linkedin.svg', alt: "LinkedIn", width: 24, height: 24, class: 'bi bi-linkedin' %>
    </a>
    <a
      href="https://twitter.com/intent/tweet?text=<%= url_encode "#{local_assigns[:book].full_title_noshy} #{book_url(local_assigns[:book].slug)}" %>"
      title="Deila á Twitter"
      target="_blank"
      class="btn btn-lg"
    >
      <%= image_tag 'twitter.svg', alt: "Twitter", width: 24, height: 24, class: 'bi bi-linkedin' %>
    </a>
  </div>
</aside>