<% content_for :meta do %>
  <title><%= @title_tag %></title>
  <%= tag 'meta', name: 'description', content: @meta_description %>
<% end %>

<main role="main" aria-label="Bækur">

  <div class="container-fluid">

    <div class="row">
      <div class="col-12 pl-5 pb-3">
        <% unless params[:publisher] || params[:category] || params[:author] || params[:search] %>
          <h1>Allar bækur</h1>
        <% else %>
          <h1>Niðurstöður</h1>
        <ul class="d-block p-0">
          <% unless params[:author].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= @author.name %>
          </li>
          <% end %>
          <% unless params[:publisher].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= @publisher.name %>
          </li>
          <% end %>
          <% unless params[:category].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= @category.name_with_group %>
          </li>
          <% end %>
          <% unless params[:search].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= params[:search] %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

    <div class="row">

      <% @books.each do |book| %>
      <section
        id="book-<%= book.id %>"
        class="book col-xl-4 col-md-6"
        aria-labelledby="book-<%= book.id %>-hgroup"
      >

        <div class="row book-column-container m-2 p-2 pt-md-5 pb-4">

          <div class="col-xxl-6 mt-2 text-right" aria-hidden="true">
            <a class="product-image-link" href="<%= book_path(book.slug) %>" tabindex="-1">
              <figure class="figure mt-4">
                <img
                  src="<%= book.cover_image_url %>"
                  <% if book.cover_image.attached? %>
                  height="<%= book.cover_image.metadata[:height] %>"
                  width="<%= book.cover_image.metadata[:width] %>"
                  srcset="<%= book.cover_img_srcset(@image_format) %>"
                  <% end %>
                  class="img-fluid"
                  loading="lazy"
                >
              </figure>
            </a>
          </div>

          <div class="content-column col-xxl-6">

            <a href="<%= book_path(book.slug) %>">
            <%= render 'books/hgroup', book: book %>
            </a>

            <%= render 'books/authors_brief', book: book %>
            
            <% unless book.description.empty? %>

              <p
                aria-label="Lýsing"
                class="book-description overflow-hidden"
              >
                <%= sanitize book.short_description, tags: ['em'] %>
              </p>

            <% end %>

            <%= render 'books/meta', book: book %>

            <div class="more-button text-right mt-4">
              <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary btn-lg" %>
            </div>

          </div>

        </div>

      </section>

    <% end %>

    </div>

  </div>

  <% unless params[:search] %>
  <%= paginate @books %>
  <% end %>

</main>