<main role="main" aria-label="Bækur">

  <% unless params[:publisher] || params[:category] || params[:author] %>
  <h1>Allar bækur</h1>
  <% else %>
  <h1>Niðurstöður leitar</h1>
  <ul>
    <% unless params[:author].nil? %>
    <li>
      <strong>Höfundur</strong>
      <%= Author.find_by(slug: params[:author]).name %>
    </li>
    <% end %>
    <% unless params[:publisher].nil? %>
    <li>
      <strong>Útgefandi</strong>
      <%= Publisher.find_by(slug: params[:publisher]).name %>
    </li>
    <% end %>
    <% unless params[:category].nil? %>
    <li>
      <strong>Vöruflokkur</strong>
      <%= Category.find_by(slug: params[:category]).name %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <p id="notice"><%= notice %></p>

  <% @books.each do |book| %>
  <section
    id="book-<%= book.id %>"
    class="book row"
    aria-labelledby="book-<%= book.id %>-hgroup"
  >

    <figure class="figure col py-5 col-4">
      <%= image_tag book.mock_image, class: 'img-fluid' %>
    </figure>

    <div class="col py-5">

      <a href="<%= book_path(book.slug) %>">

      <hgroup id="book-<%= book.id %>-hgroup" class="py-3 inline-block">
      <% unless book.pre_title.empty? %>
        <h2 class="h3 pre-title">
          <%= book.pre_title %>
        </h2>
        <h3 class="h2 title">
          <%= book.title %>
        </h3>
        <% unless book.post_title.empty? %>
        <h4 class="h3 post-title">
          <%= book.post_title %>
        </h4>
        <% end %>
      <% else %>
        <h2 class="h2 title">
          <%= book.title %>
        </h2>
        <% unless book.post_title.empty? %>
        <h3 class="h3 post-title">
          <%= book.post_title %>
        </h3>
        <% end %>
      <% end %>
      </hgroup>

      </a>

      <ul class="book-authors">
        <% book.author_groups.each_with_index do |g,i| %>
        <li
          id="book-<%= book.id %>-authors--<%= i %>"
          aria-labelledby="book-<%= book.id %>-authors-label--<%= i %>"
        >
          <strong
            id="book-<%= book.id %>-authors-label--<%= i %>"
          >
            <%= g[:name] %>
          </strong>
          <%= raw g[:author_links] %>
        </li>
        <% end %>
      </ul>

      <% unless book.description.empty? %>

      <p
        aria-label="Lýsing"
        class="book-description overflow-hidden"
      >
        <%= book.short_description %>
      </p>

      <% end %>

      <ul
        id="book-meta-list-<%= book.id %>"
        class="book-meta-list"
        aria-label="Upplýsingar um bók"
      >
        <li
          class="book-meta-publisher"
          aria-labelledby="book-meta-publisher-label-<%= book.id %>"
        >
          <strong
            id="book-meta-publisher-label-<%= book.id %>"
            class="book-meta-publisher-label"
          >
            Útgefandi
          </strong>
          <%=
            link_to book.publisher.name,
            "/baekur/?publisher=#{book.publisher.slug}",
            title: "Skoða fleiri bækur frá útgefandanum #{book.publisher.name}"
          %>
        </li>
        <li
          class="book-meta-category"
          aria-labelledby="book-meta-category-label<%= book.id %>"
        >
          <strong
            id="book-meta-category-label<%= book.id %>"
            class="book-meta-category-label"
          >
            Vöruflokkur
          </strong>
          <%=
            link_to book.category.name,
            "/baekur/?category=#{book.category.slug}",
            title: "Skoða fleiri bækur í flokknum #{book.category.name}"
          %>
        </li>
        <li
          class="book-meta-page-count"
          aria-labelledby="book-meta-page-count-label<%= book.id %>"
        >
          <strong
            id="book-meta-page-count-label<%= book.id %>"
            class="book-meta-page-count-label"
          >
            Blaðsíðutal
          </strong>
          <%= book.page_count %>
        </li>
        <% unless book.hours.nil? %>
        <li
          class="book-meta-hours"
          aria-labelledby="book-meta-hours-label<%= book.id %>"
        >
          <strong
            id="book-meta-hours-label<%= book.id %>"
            class="book-meta-hours-label"
          >
            Upplestrartími
          </strong>
          <%= book.hours %>
          <abbr title="klukkustundir">klst.</abbr>
        </li>
        <% end %>

      </ul>

      <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary" %>

    </div>
  </section>

  <% end %>

  <%= paginate @books %>

</main>