<main role="main" aria-label="Bækur">

  <p id="notice"><%= notice %></p>

  <div class="container-fluid">

    <div class="row">
      <div class="col-12 pl-5 pb-3">
        <% unless params[:publisher] || params[:category] || params[:author] %>
          <h1>Allar bækur</h1>
        <% else %>
          <h1>Niðurstöður</h1>
        <ul class="d-block p-0">
          <% unless params[:author].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= Author.find_by(slug: params[:author]).name %>
          </li>
          <% end %>
          <% unless params[:publisher].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= Publisher.find_by(slug: params[:publisher]).name %>
          </li>
          <% end %>
          <% unless params[:category].nil? %>
          <li class="d-inline-block badge badge-darkgrey">
            <%= Category.find_by(slug: params[:category]).name %>
          </li>
          <% end %>
        </ul>
        <% end %>
      </div>
    </div>

    <div class="row">

      <% @books.each do |book| %>
      <section
        id="book-<%= book.id %>"
        class="book col-xl-4 col-sm-6"
        aria-labelledby="book-<%= book.id %>-hgroup"
      >

        <div class="row book-column-container m-1 p-3 mb-5">

          <div class="col-xl-6 mt-2 text-right" aria-hidden="true">
            <a class="product-image-link" href="<%= book_path(book.slug) %>" tabindex="-1">
              <figure class="figure mt-4">
                <%= raw book.thumbnail_img_tag(@image_format) %>
              </figure>
            </a>
          </div>

          <div class="col-xl-6">

            <a href="<%= book_path(book.slug) %>">
            <%= render 'books/hgroup', book: book %>
            </a>

            <%= render 'books/authors', book: book %>
            
            <% unless book.description.empty? %>

              <p
                aria-label="Lýsing"
                class="book-description overflow-hidden"
              >
                <%= book.short_description %>
              </p>

            <% end %>

            <%= render 'books/meta', book: book %>

            <%= render 'books/binding_types', book: book %>

            <div class="text-right m-4">
              <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary btn-lg" %>
            </div>

          </div>

        </div>

      </section>

    <% end %>

    </div>

  </div>

  <%= paginate @books %>

</main>