<main role="main" aria-label="Bækur">

  <% unless params[:publisher] || params[:category] || params[:author] %>
  <h1>Allar bækur</h1>
  <% else %>
  <h1>Niðurstöður leitar</h1>
  <ul>
    <% unless params[:author].nil? %>
    <li>
      <strong>Höfundur</strong>
      <%= Author.find_by(slug: params[:author]).name %>
    </li>
    <% end %>
    <% unless params[:publisher].nil? %>
    <li>
      <strong>Útgefandi</strong>
      <%= Publisher.find_by(slug: params[:publisher]).name %>
    </li>
    <% end %>
    <% unless params[:category].nil? %>
    <li>
      <strong>Vöruflokkur</strong>
      <%= Category.find_by(slug: params[:category]).name %>
    </li>
    <% end %>
  </ul>
  <% end %>

  <p id="notice"><%= notice %></p>

  <% @books.each do |book| %>
  <section
    id="book-<%= book.id %>"
    class="book row"
    aria-labelledby="book-<%= book.id %>-hgroup"
  >

    <%= render 'books/figure', mock_image: book.mock_image %>

    <div class="col py-5">

      <a href="<%= book_path(book.slug) %>">
        <%= render 'books/hgroup', book_id: book.id, pre_title: book.pre_title, title: book.title, post_title: book.post_title %>
      </a>

      <%= render 'books/authors', book_id: book.id, author_groups: book.author_groups %>

      <% unless book.description.empty? %>

      <p
        aria-label="Lýsing"
        class="book-description overflow-hidden"
      >
        <%= book.short_description %>
      </p>

      <% end %>

      <%= render 'books/meta', book: book %>

      <%= render 'books/binding_types', book: book %>

      <%= link_to 'Meira', book_path(book.slug), class: "btn btn-primary" %>

    </div>
  </section>

  <% end %>

  <%= paginate @books %>

</main>