<p id="notice"><%= notice %></p>

  <section
    id="book-<%= @book.id %>"
    class="book row"
    aria-labelledby="book-<%= @book.id %>-hgroup"
  >

    <%= render 'books/figure', image_url: @book.original_cover_bucket_url %>

    <div class="col py-5">

      <%= render 'books/hgroup', book: @book %>

      <%= render 'books/authors', book: @book %>

      <% unless @book.description.empty? %>

      <div
        aria-label="Lýsing"
        class="book-full-description overflow-hidden"
      >
        <%= @book.show_description %>
      </div>

      <% end %>

      <%= render 'books/meta', book: @book %>

      <%= render 'books/binding_types', book: @book %>

    </div>
  </section>

