<% content_for :meta do %>
  <title>Bókatíðindi - <%= @book.full_title_with_author %></title>

  <%= tag 'meta', name: 'description', content: html_escape_once(strip_tags(@book.description).squish) %>
  <%= tag 'link', rel: 'canonical', href: url_for(controller: 'books', action: 'show', only_path: false) %>

  <%= tag 'meta', name: 'thumbnail', content: @book.cover_image_url('jpg') %>

  <%= tag 'meta', property: 'og:type', content: 'book' %>
  <% @book.book_authors.joins(:author_type, :author).where(author_type: { name: 'Höfundur' }).each do |a| %>
  <%= tag 'meta', property: 'book:author', content: a.author.name %>
  <% end %>
  <% if @book.cover_image.attached? %>
  <%= tag 'meta', property: 'og:image', content: @book.cover_image_url('jpg') %>
  <% @book.sample_pages.each_with_index do |_sp, i| %>
  <%= tag 'meta', property: 'og:image', content: @book.sample_page_url(i, 'jpg') %>
  <% end %>
  <%= tag 'meta', property: 'og:image:width', content: @book.cover_image.metadata[:width] %>
  <%= tag 'meta', property: 'og:image:height', content: @book.cover_image.metadata[:height] %>
  <% end %>
  <%= tag 'meta', property: 'og:site_name', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:title', content: html_escape_once(@book.full_title_noshy) %>
  <% @book.book_binding_types.each do |book_binding_type| %>
  <%= tag('meta', property: 'og:isbn', content: book_binding_type.barcode) if book_binding_type.barcode %>
  <% end %>
  <%= tag 'meta', property: 'og:description', content: html_escape_once(strip_tags(@book.description).squish) %>
  <%= tag 'meta', property: 'og:url', content: url_for(controller: 'books', action: 'show', only_path: false) %>
  <%= tag 'meta', property: 'og:locale', content: 'is_IS' %>
  <%= tag 'meta', property: 'fb:app_id', content: '286582403328194' %>

  <%= tag 'meta', name: 'twitter:card', content: 'summary' %>
  <%= tag 'meta', name: 'twitter:title', content: html_escape_once(@book.full_title_with_author) %>
  <%= tag 'meta', name: 'twitter:description', content: html_escape_once(strip_tags(@book.description).squish) %>
  <% if @book.cover_image.attached? %>
  <%= tag 'meta', name: 'twitter:image', content: @book.cover_image_url('jpg') %>
  <% end %>

  <% if @book.cover_image_srcsets.kind_of?(Array) %>
  <%=
  tag(
    'link',
    rel: 'preload', as: 'image', href: @book.cover_image_url,
    imagesrcset: @book.cover_image_srcsets[@image_format],
    imagesizes: @image_sizes, type: "image/#{@image_format}"
  )
  %>
  <% end %>

  <script type="application/ld+json"><%= raw @book.structured_data.to_json %></script>

  <script type="module">
  import { Fancybox } from "https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0.36/dist/fancybox/fancybox.esm.min.js";
  Fancybox.bind('[data-fancybox="samples"]', {});
  Fancybox.defaults.l10n = {
    CLOSE: "Loka",
    NEXT: "Næsta mynd",
    PREV: "Fyrri mynd",
    MODAL: "Hægt er að loka þessum glugga með ESC-takkanum á lyklaborðinu",
    ERROR: "Eitthvað kom upp, reyndu aftur síðar",
    IMAGE_ERROR: "Myndin fannst ekki",
    ELEMENT_NOT_FOUND: "HTML-Element fannst ekki",
    AJAX_NOT_FOUND: "Error Loading AJAX : Not Found",
    AJAX_FORBIDDEN: "Error Loading AJAX : Forbidden",
    IFRAME_ERROR: "Error Loading Page",
    TOGGLE_ZOOM: "Súma",
    TOGGLE_SLIDESHOW: "Sjálfvirk glærusýning",
    TOGGLE_FULLSCREEN: "Fullur skjár",
    TOGGLE_THUMBS: "Smámyndir"
  };
  </script>
<% end %>

<main class="m-md-5">

<div class="container-fluid">

<div class="row">

  <div
    id="book-<%= @book.id %>"
    class="book book-single col-12 pt-4 pt-md-0"
    aria-labelledby="book-<%= @book.id %>-hgroup"
  >

    <div class="row bookrow">

      <article
        class="px-4 px-sm-5 pl-md-3 col-12 col-md-8 col-lg-7 col-xl-5 offset-lg-1 order-0 order-md-1"
        aria-label="Um bókina"
      >

        <% if @book.current_edition? == false %>
          <p class="book-meta-old-edition mt-3 mt-md-5" role="note">
          <strong>
            Athugið að þessi bók er úr eldri útgáfu Bókatíðinda og birt hér með
            fyrirvara um mögulega sé ekki um að ræða nýjustu upplýsingar.
            Hafið samband við útgefanda til að fá nánari upplýsingar um hvort
            bókin sé fáanleg.
          </strong>
          </p>
        <% end %>

        <%= render 'books/hgroup', book: @book %>

        <%= render 'books/authors', book: @book %>

        <img
          src="<%= @book.cover_image_url %>"
          <% if @book.cover_image.attached? %>
          height="<%= @book.cover_image.metadata[:height] %>"
          width="<%= @book.cover_image.metadata[:width] %>"
          <% end %>
          <% unless @book.cover_image_srcsets.blank? %>
          srcset="<%= @book.cover_image_srcsets[@image_format] %>"
          sizes="<%= @image_sizes %>"
          <% end %>
          class="img-fluid w-100 d-md-none mb-5"
          alt="Forsíða kápu bókarinnar"
        >

        <div class="book-description mb-5 bt-5 overflow-hidden">
          <article id="book_description">
            <%= simple_format @book.description, tags: ['em'] %>
          </article>

          <% @book.blockquotes.where(location: :below_book_description).each do |blockquote, i| %>
            <%= render 'books/blockquote', blockquote: blockquote %>
          <% end %>

          <article id="book_long_description">
            <%= simple_format @book.long_description, tags: ['em'] %>
          </article>

          <% @book.blockquotes.where(location: :below_long_description).each do |blockquote, i| %>
            <%= render 'books/blockquote', blockquote: blockquote %>
          <% end %>
        </div>

        <% if @book.audio_sample? %>
        <div id="book_audio_sample" class="mb-4 pb-4">
          <h2 class="h3">Hljóðbrot</h2>
          <%= audio_tag @book.audio_sample_url, controls: true %>
        </div>
        <% end %>

        <%= render('books/binding_types', book: @book) unless @book.book_binding_types.length.zero? %>

        <%= render 'books/social_media', book: @book %>

      </article>

      <aside
        class="d-none d-md-block pl-5 mt-4 mt-md-5 col col-lg-4 offset-xl-1 order-1 order-md-0"
        aria-label="Myndefni og lýsigögn"
      >

        <figure class="book-cover d-none d-md-block figure w-100" aria-label="Forsíðumynd">
          <a
            class="d-block"
            data-fancybox="samples"
            href="<%= @book.cover_image_url(@image_format, true) %>"
            title="Skoða forsíðu kápu"
          >
            <img
              <% if @book.cover_image.attached? %>
              src="<%= @book.cover_image_url %>"
              height="<%= @book.cover_image.metadata[:height] %>"
              width="<%= @book.cover_image.metadata[:width] %>"
              loading="eager"
              <% else %>
              src="<%= asset_url('blank.svg') %>"
              height="594"
              width="420"
              alt="Mynd af bókakápu vantar"
              <% end %>
              <% unless @book.cover_image_srcsets.blank? %>
              srcset="<%= @book.cover_image_srcsets[@image_format] %>"
              sizes="<%= @image_sizes %>"
              <% end %>
              class="img-fluid w-100"
              alt="Forsíða kápu bókarinnar"
            >
          </a>
        </figure>

        <% if @book.sample_pages.any? %>
        <div
          class="preview-images align-self-end row"
          aria-label="Sýnishorn úr bók"
        >
          <% @book.sample_pages.each_with_index do |sp,i| %>
          <% if @book.sample_page_url(i, @image_format) %>
          <a
            class="preview-image-link col-6 col-lg-3 mb-2"
            data-fancybox="samples"
            href="<%= @book.sample_page_url(i, @image_format) %>"
            title="Skoða sýnidæmi <%= i + 1 %>"
          >
            <img
              class="img-fluid"
              src="<%= @book.sample_page_url(i, @image_format) %>"
              <% unless @book.sample_pages_srcsets[@image_format].empty? %>
              srcset="<%= @book.sample_pages_srcsets[@image_format][i].join(', ') %>"
              sizes="(max-width: 576px) 150px, (max-width: 1200px) 550px, 150px"
              <% end %>
              alt="Sýnidæmi <%= i + 1 %>"
              loading="lazy"
              height="<%= sp.metadata[:height] %>"
              width="<%= sp.metadata[:width] %>"
            >
          </a>
          <% end %>
          <% end %>
        </div>
        <% end %>

        <div aria-label="Lýsigögn">
          <%= render 'books/meta', book: @book %>
        </div>

      </aside>

    </div>

  </div>

</div>

</div>

</main>

