<p id="notice"><%= notice %></p>

<div class="row justify-content-center">

  <section
    id="book-<%= @book.id %>"
    class="book col-lg-8 col-md-12"
    aria-labelledby="book-<%= @book.id %>-hgroup"
  >

    <div class="row">

      <div class="col-lg-4 col-sm-6 p-3">

      <%= render 'books/figure', book: @book %>

      </div>

      <div class="col-lg-8 col-sm-12">

      <a href="<%= book_path(@book.slug) %>">
        <%= render 'books/hgroup', book: @book %>
      </a>

      <%= render 'books/authors', book: @book %>

      <% unless @book.description.empty? %>

      <p
        aria-label="Lýsing"
        class="book-description overflow-hidden"
      >
        <%= @book.show_description %>
      </p>

      <% end %>

      <%= render 'books/meta', book: @book %>

      <%= render 'books/binding_types', book: @book %>

      </div>

    </div>
  </section>

</div>

