<% content_for :meta do %>
  <title>Bókatíðindi - <%= @book.full_title_with_author %></title>

  <%= tag 'meta', name: 'description', content: html_escape_once(strip_tags(@book.show_description).squish) %>
  <%= tag 'link', rel: 'canonical', href: url_for(controller: 'books', action: 'show', only_path: false) %>

  <%= tag 'meta', property: 'og:type', content: 'book' %>
  <% @book.book_authors.joins(:author_type, :author).where(author_type: { name: 'Höfundur' }).each do |a| %>
  <%= tag 'meta', property: 'book:author', content: a.author.name %>
  <% end %>
  <% if @book.cover_image.attached? %>
  <%= tag 'meta', property: 'og:image', content: @book.cover_image_variant_url(1200, @image_format) %>
  <%= tag 'meta', property: 'og:image:width', content: @book.cover_image.metadata[:width] %>
  <%= tag 'meta', property: 'og:image:height', content: @book.cover_image.metadata[:height] %>
  <% end %>
  <%= tag 'meta', property: 'og:site_name', content: 'Bókatíðindi' %>
  <%= tag 'meta', property: 'og:title', content: html_escape_once(@book.full_title) %>
  <%= tag 'meta', property: 'og:description', content: html_escape_once(strip_tags(@book.show_description).squish) %>
  <%= tag 'meta', property: 'og:url', content: url_for(controller: 'books', action: 'show', only_path: false) %>
  <%= tag 'meta', property: 'og:locale', content: 'is_IS' %>
  <%= tag 'meta', property: 'fb:app_id', content: '286582403328194' %>

  <%= tag 'meta', name: 'twitter:card', content: 'summary' %>
  <%= tag 'meta', name: 'twitter:title', content: html_escape_once(@book.full_title_with_author) %>
  <%= tag 'meta', name: 'twitter:description', content: html_escape_once(strip_tags(@book.show_description).squish) %>
  <% if @book.cover_image.attached? %>
  <%= tag 'meta', name: 'twitter:image', content: @book.cover_image_variant_url(1200, 'jpg') %>
  <% end %>
<% end %>

<main role="main">

<div class="container-fluid">

<div class="row">

  <section
    id="book-<%= @book.id %>"
    class="book book-single col-lg-12 col-md-12"
    aria-labelledby="book-<%= @book.id %>-hgroup"
  >

    <div class="row book-column-container m-2 p-2 py-md-5">

      <div class="col-lg-4 col-md-4 col-sm-12 p-3 offset-lg-1 text-right" aria-hidden="true">

        <figure class="figure mt-4">
          <img
            src="<%= @book.cover_image_url %>"
            <% if @book.cover_image.attached? %>
            height="<%= @book.cover_image.metadata[:height] %>"
            width="<%= @book.cover_image.metadata[:width] %>"
            srcset="<%= @book.cover_img_srcset(@image_format) %>"
            <% end %>
            class="img-fluid"
          >
        </figure>

      </div>

      <div class="col-lg-4 col-md-8 col-sm-12 offset-lg-1">

      <%= render 'books/hgroup', book: @book %>

      <%= render 'books/authors', book: @book %>

      <% unless @book.description.empty? %>

      <div
        aria-label="Lýsing"
        class="book-description mb-5 bt-5 overflow-hidden"
      >
        <%= simple_format @book.show_description, tags: ['em'] %>
      </div>

      <% end %>

      <%= render 'books/ecommerce', book: @book %>

      <%= render 'books/meta', book: @book %>

      </div>  

    </div>
    <div class="col-12">
      <%= render 'shared/ecommerce_links' %>
    </div>
  </section>

</div>

</div>

</main>