<p id="notice"><%= notice %></p>

<div class="container-fluid">

<div class="row">

  <section
    id="book-<%= @book.id %>"
    class="book book-single col-lg-12 col-md-12"
    aria-labelledby="book-<%= @book.id %>-hgroup"
  >

    <div class="row book-column-container m-2 p-2 pt-5 pb-5">

      <div class="col-lg-4 col-md-4 col-sm-12 p-3 offset-lg-1 text-right">

        <figure class="figure mt-4">
          <%= raw @book.cover_img_tag(@image_format) %>
        </figure>

      </div>

      <div class="col-lg-4 col-md-8 col-sm-12 offset-lg-1">

      <%= render 'books/hgroup', book: @book %>

      <%= render 'books/authors', book: @book %>

      <% unless @book.description.empty? %>

      <div
        aria-label="Lýsing"
        class="book-description mb-5 bt-5 overflow-hidden"
      >
        <%= @book.show_description %>
      </div>

      <% end %>

      <%= render 'books/meta', book: @book %>

      <%= render 'books/binding_types', book: @book %>

      </div>

    </div>
  </section>

</div>

</div>
