<!DOCTYPE html>
<html lang="is">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :meta %>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <header class="px-4 pt-4 pt-md-5 px-md-5">
      <%= render 'layouts/header' %>
    </header>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
  <script>
  function toggleMobileMenu(event) {
    document.querySelector('#mobile-menu').classList.toggle('d-none');
    document.querySelector('main').classList.toggle('d-none');
    document.querySelector('footer.footer-container').classList.toggle('d-none');
  }

  function focusOnMobileMenu(event) {
    document.querySelector('#mobile-menu').focus();
  }

  document.querySelector('#mobile-menu-button').addEventListener(
    'click',
    function() { toggleMobileMenu(); focusOnMobileMenu(); }
  );

  document.querySelector('#mobile-menu-close-button').addEventListener(
    'click',
    function() { toggleMobileMenu() }
  );
  </script>
</html>
