<!DOCTYPE html>
<html lang=is>
  <head>
    <title>Bókatíðndi</title>

    <%= preload_link_tag asset_pack_path( 'media/packs/src/fonts/lora-v17-latin-500.woff2' ) %>
    <%= preload_link_tag asset_pack_path( 'media/packs/src/fonts/lora-v17-latin-700.woff2' ) %>

    <%= preload_link_tag asset_pack_path( 'media/packs/src/fonts/montserrat-v18-latin-500.woff2' ) %>
    <%= preload_link_tag asset_pack_path( 'media/packs/src/fonts/montserrat-v18-latin-700.woff2' ) %>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="<%= asset_path 'favicon.png' %>" rel="icon" />

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
    </div>

    <%= yield %>



    <div class="footer-container">
    <footer class="container py-5">
      <div class="row">
        <div class="col-6 col-md">
          <h5>Barnabækur</h5>
            <ul class="list-unstyled text-small">
              <li class="text-muted"><a href="#">Barnabækur – myndskreyttar 0-6 ára</a></li>
              <li class="text-muted"><a href="#">Barnabækur – skáldverk</a></li>
              <li class="text-muted"><a href="#">Barnabækur – fræðibækur/handbækur</a></li>
              <li class="text-muted"><a href="#">Ungmennabækur</a></li>
            </ul>
         <!-- <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>-->
        </div>
        <div class="col-6 col-md">
          <h5>Skáldverk</h5>
            <ul class="list-unstyled text-small">
              <li class="text-muted"><a href="#">Íslensk skáldverk</a></li>
              <li class="text-muted"><a href="#">Þýdd skáldverk</a></li>
              <li class="text-muted"><a href="#">Ljóð og leikrit</a></li>
              <li class="text-muted"><a href="#">Fræðibækur</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Fræðibækur</h5>
            <ul class="list-unstyled text-small">
              <li class=""><a href="#">Listir og ljósmyndir</a></li>
              <li class=""><a href="#">Matur og hannyrðir</a></li>
              <li class=""><a href="#">Saga, ættfræði og héraðslýsingar</a></li>
              <li class=""><a href="#">Útivist, tómstundir og íþróttir</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
          <h5>Ævisögur</h5>
            <ul class="list-unstyled text-small">
              <li class=""><a href="#">Ævisögur</a></li>
            </ul>
        </div>
        <div class="col-12 col-md">
          <h5>Bókatíðindi 2021</h5>
          <ul class="list-unstyled text-small">
            <li class="text-footer">Útgefandi: <a href="#">Félag Íslenskra Bókaútgefenda</a></li>
            <li class="text-footer">Barónstíg 5, 101 Reykjavík</li>
            <li class="text-footer">Sími: <a href="tel:5118020">511 8020</a></li>
            <li><a href="mailto:fibut@fibut.is">fibut@fibut.is</a></li>
            <li><a href="http://www.fibut.is">www.fibut.is</a></li>
          </ul>
        </div>
      </div>
    </footer>
    </div>




  

  </body>
</html>
