<!DOCTYPE html>
<html lang=is>
  <head>
    <%= yield :meta %>
    <%= render 'layouts/meta' %>
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/header' %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
</html>
