<!DOCTYPE html>
<html lang=is>
  <head>
    <title>Bókatíðndi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div class="container-fluid">
      <header class="row p-5 mb-5 justify-content-between border-bottom">
        <h1 id="site-title"><%= link_to 'Bókatíðindi', root_path %></h1>
        <form class="col-6">
          <div class="input-group">
            <input type="search" class="form-control" placeholder="Leitarorð…" aria-label="Search">
            <input type="submit" value="Leita" class="btn btn-primary">
          </div>
        </form>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
