<!DOCTYPE html>
<html lang="is">
  <head>
    <%= yield :meta %>
    <%= render 'layouts/meta' %>
  </head>

  <body class="d-flex flex-column h-100">
    <header class="px-4 px-sm-5 pt-4 pt-md-4 pt-xl-5 pb-xl-3">
      <%= render 'layouts/header' %>
    </header>

    <%= render 'layouts/mobile_menu' %>

    <div class="flex-shrink-0">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>

    <script>
      function toggleMobileMenu(event) {
        document.querySelector('#mobile-menu').classList.toggle('d-none');
        document.querySelector('main').classList.toggle('d-none');
        document.querySelector('footer.footer-container').classList.toggle('d-none');
      }

      function focusOnMobileMenu(event) {
        document.querySelector('#mobile-menu').focus();
      }

      document.querySelector('#mobile-menu-button').addEventListener(
        'click',
        function() { toggleMobileMenu(); focusOnMobileMenu(); }
      );

      document.querySelector('#mobile-menu-close-button').addEventListener(
        'click',
        function() { toggleMobileMenu() }
      );
    </script>

  </body>
</html>
