<!DOCTYPE html>
<html lang="is">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :meta %>
    <%= render 'layouts/meta' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container-fluid">
      <% if ENV.include?('STAGING_MODE') %>
      <div><strong>Þetta er staging-umhverfið!</strong></div>
      <% end %>
      <%= render 'layouts/header' %>
    </div>

    <%= yield %>

    <%= render 'layouts/footer' %>
  </body>
  <script>
  function toggleMobileMenu(event) {
    document.querySelector('#mobile-menu').classList.toggle('d-none');
    document.querySelector('main').classList.toggle('d-none');
    document.querySelector('footer.footer-container').classList.toggle('d-none');
  }

  function focusOnMobileMenu(event) {
    document.querySelector('#mobile-menu').focus();
  }

  document.querySelector('#mobile-menu-button').addEventListener(
    'click',
    function() { toggleMobileMenu(); focusOnMobileMenu(); }
  );

  document.querySelector('#mobile-menu-close-button').addEventListener(
    'click',
    function() { toggleMobileMenu() }
  );
  </script>
</html>
